@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #D1345B;
    --secondary-color: #F5F5F5;
    --cyan-color: #34D1BF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #070707;
    scroll-behavior: smooth;
}
.topbar{
    background-color: #D1345B;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 3rem;
}
.topbar > .socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.topbar > .socials > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: medium;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: center;
}
.topbar > .socials > a > span{
    width: 100%;
}
.topbar > .support{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.support > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
header{
    background: url('../assets/background_header.svg') no-repeat;
    background-position: top;
    background-color: black;
    background-size: cover;
    width: 100%;
}
.btn-primary{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.btn-secondary{
    background-color: transparent !important;
    border-color: var(--primary-color) !important;
}
.btn-primary:hover{
    background-color: #B82E4D !important;
}
.btn-secondary:hover{
    background-color: var(--primary-color) !important;
    color: white !important;
}
.navbar-collapse{
    justify-content: center;
}
.nav-link{
    color: white !important;
    font-weight: 500;
}
.hero > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem auto;
    width: 50%;
    text-align: center;
}
.announcement{
    background-color: rgb(80, 80, 80, 17%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 2rem;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
}
.announcement > span{
    color: var(--cyan-color);
    font-weight: bolder;
}
.announcement > p{
    color: white;
    font-weight: 500;
    margin: 0;
}
.hero > .container > h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
.hero > .container > h1 > span{
    color: var(--primary-color);
}
.hero > .container > p{
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 2rem;
}
.minecraft-asset{
    text-align: right;
    background: linear-gradient(359deg, black, transparent);
    margin-top: -12rem;
}
.minecraft-asset > img{
    opacity: 0.7;
}
.why-us{
    background-color: rgba(52, 84, 209, 0.1);
    padding: 3rem;
}
.why-us p{
    color: #AFAFAF;
    width: 80%;
}
.why-us h2{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.why-us-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
}
.why-us-item > h4{
    color: white;
    font-weight: 600;
}
.features{
    margin-top: 5rem;
}
.features .title{
    text-align: center;
}
.features .title > p{
    color: var(--cyan-color);
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    font-variant: small-caps;
}
.features .title > h2{
    color: white;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}
.features .col-lg-4{
    background: black;
    border-radius: 10px;
    border-color: var(--cyan-color);
    border: 1px solid var(--cyan-color);
    padding: 1rem 2rem;
    margin: 1rem;
}
.feature-item > h4{
    color: white;
    font-weight: 600;
}
.feature-item > p{
    color: #AFAFAF;
    font-weight: 500;
}
.features .row{
    flex-wrap: nowrap;
}
.plans{
    margin-top: 5rem;
}
.plans .title{
    text-align: center;
}
.plans .title > p{
    color: var(--cyan-color);
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    font-variant: small-caps;
}
.plans .title > h2{
    color: white;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}
.plans button.active{
    color: white !important;
    background: var(--primary-color) !important;
    border: 0;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.plans .nav-link:hover{
    border: 0;
    border-radius: 50px;
    background-color: #d1345b54;
}
.plans .nav-tabs{
    background: #2E2E2E;
    width: fit-content;
    margin: 2rem auto;
    padding: 6px;
    border-radius: 50px;
    border: 0;
}
.plans .nav-link{
    border: 0;
}
.plan-item{
    background: url('../assets/Background-plan.svg') no-repeat;
    background-size: cover;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plan-item-header{
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
}
.plan-item-header > h4{
    font-weight: 800;
    margin: 0;
}
.plan-item-header > p{
    font-weight: 500;
    color: #CAFFF9;
    margin: 0;
}
.plan-item-body{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.plan-item-body > p > svg{
    color: #AFAFAF;
    font-weight: 600;
}
.plan-item-body > p{
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-variant: small-caps;
    margin: 0;
}
.plan-item-footer{
    padding: 1rem;
    text-align: center;
}
.plan-item-footer > h3{
    color: white;
    font-weight: 800;
}
.plan-item-footer > h3 > span{
    font-variant: small-caps;
}
.plan-item-footer > .btn{
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
#bundle-tab-pane .plan-item{
    background: url('../assets/buddles_background.svg') no-repeat;
    background-size: cover;
}
#dedicated-tab-pane .plan-item{
    background: url('../assets/semidedicated_background.svg') no-repeat;
    background-size: cover;
}
world-map{
    display: block;
    position: relative;
    max-width: 900px;
    margin: auto;
  }

.location-item{
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
.location-item > div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-item >div > img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.location-item > div > h5{
    color: white;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}
.location-item > p{
    color: #AFAFAF;
    font-weight: 500;
    margin: 0;
    text-align: left;
    align-self: center;
}
.location-title{
    text-align: center;
}
.location-title > p{
    color: var(--cyan-color);
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    font-variant: small-caps;
}
.location-title > h2{
    color: white;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}
.locations{
    margin: 5rem 0;
}
#result {
    font-size: 24px;
    margin-top: 20px;
}
#networkStateIcon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.ping-test {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ping-test > div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.ping-test > h4{
    color: white;
    font-weight: 600;
    margin: 0;
    text-transform:capitalize;
    font-variant: small-caps;
}
.ping-test > button{
    text-transform: uppercase;
    font-weight: 700;
    width: fit-content;
}
.ping-test > .result{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.contact-us {
    background-color: rgba(52, 84, 209, 0.1);
    padding: 3rem;
    display: none;
}
.contact-us-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 1rem;
}
.contact-us-item > h2 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.contact-us-item > h6 {
    color: var(--cyan-color);
    font-weight: 600;
    margin: 0;
}
.contact-us-item > p {
    color: #AFAFAF;
    font-weight: 500;
    margin: 0;
}
.contact-us-item > a {
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
}
footer h5{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid var(--primary-color);
    width: fit-content; 
    letter-spacing: 1px;
}
footer .nav-link{
    color: #979797 !important;
}
.m-navbar{
    display: none;
}
@media screen and (max-width: 768px){
    .topbar{
        display: none;
    }
    nav{
        display: none !important;
    }
    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        display: block;
      }
    
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        width: 100%;
      }
    
      .navbar .menu-items {
        display: flex;
      }
    
      .navbar .nav-container li {
        list-style: none;
      }
    
      .navbar .nav-container a {
        text-decoration: none;
        color: var(--WHITE-C);
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        display: flex;
        padding: 10px 27px 6px 7px;
        gap: 17px;
        border-radius: 10px;
        background-color: transparent;
        margin-left: 7rem;
      }
    
      .navbar .nav-container a:hover {
        font-weight: bolder;
      }
    
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
    
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
      }
    
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
      }
    
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.1s ease-in-out;
      }
    
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.1s ease-in-out;
      }
    
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.1s ease-in-out;
      }
    
      .navbar .menu-items {
        background: var(--primary-color);
        padding-top: 120px;
        padding-bottom: 120px;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        text-align: center;
      }
    
      .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: bolder;
        color: #F5F5F5;
        text-transform: uppercase;
      }
      .navbar .logo {
        position: absolute;
        font-size: 1.2rem;
        color: #0e2431;
      }
      .m-navbar{
        padding: 0 !important;
      }
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        z-index: 1;
      }
    
      .hamburger-lines .line1 {
        transition: transform 0.3s ease,  white 0.3s ease;
      }
      
      .hamburger-lines .line2 {
        transition: transform 0.3s ease;
      }
      
      .hamburger-lines .line3 {
        transition: transform 0.3s ease,  white 0.3s ease;
      }
      
      .hamburger-lines.checked .line1 {
        transform: rotate(45deg);
        background: white !important;
      }
      
      .hamburger-lines.checked .line2 {
        transform: scaleY(0);
      }
      
      .hamburger-lines.checked .line3 {
        transform: rotate(-45deg);
        background: white !important;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .logo {
        display: none;
      }
      .minecraft-asset{
        display: none;
      }
      .hero > div{
        width: 100%;
        padding: 6rem 1rem;
        margin: 0;
      }
      .features .col-lg-4{
        width: fit-content;
      }
      .plans .col-lg-3{
        margin: 1rem 0;
      }
      .plans .col-lg-4{
        margin: 1rem 0;
      }
}
.span-notes{
    color: #AFAFAF;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.plans p > a{
    color: var(--primary-color);
}
.aboutus{
    padding: 1rem;
}
.aboutus img{
    width: 50px;
    margin: 0 auto;
}
.aboutus h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.about-us{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    padding: 1rem 2rem;
    margin-top: -6rem;
}
.about-us p{
    color: white;
    font-weight: 500;
    margin: 0;
}
.about-us h2{
    color: white;
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.our-mission{
    padding: 3rem;
}
.our-mission h2{
    color: white;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}
.our-mission p{
    color: #AFAFAF;
    font-weight: 500;
    margin: 0;
}
.our-mission h4{
    color: white;
    font-weight: 600;
    margin: 0;
}
.our-mission svg{
    fill: var(--primary-color);
    font-weight: 600;
}
.team .card{
    background: black;
    border: 1px solid var(--primary-color);
    color: white;
}
.team .btn-outline-primary{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.team .btn-outline-primary:hover{
    background-color: var(--primary-color);
    color: white;
}
.team  small{
    color: #64748b;
}
.w-fit{
    width: fit-content;
}
.hiring-card{
    background: linear-gradient(126deg, rgba(129,16,44,1) 0%, rgba(209,52,91,1) 36%, rgba(209,52,91,1) 100%);
    border: 1px solid var(--primary-color);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
}
.hiring-card small{
    color: white;
}
.hiring-card .btn-primary{
    background-color:  #662b2b !important;
    border-color: var(--primary-color);
}

.legals .sidebar{
    display: flex;
    flex-direction: column;
    background: black;
    width: fit-content;
    padding: 2rem 3rem;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    gap: 20px;
    height: fit-content;
}
.legals{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
.legals .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--primary-color);
    color: white;
}
.legals h2{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.legals .tab-content{
    width: 50%;
    background: black;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}
@media screen and (max-width: 768px){
    .features .row{
        flex-wrap: wrap;
    }
    .legals{
     flex-direction: column;
     padding: 2rem;
    }
    .hero > .container > h1{
        font-size: unset;
    }
    .legals .sidebar{
        width: 100%;
    }
    .legals .tab-content{
        width: 100%;
    }
 }
@media screen and (max-width: 320px) {
    header .logo img{
        width: 80%;
    }
}